#addDiv{
    position:absolute;
    left:20%;
    top:200px;
    width: 400px;
    overflow: auto;
    background-color: yellow;
    border: black solid 3px;
    box-shadow: 5px 10px #888888;
    display:none;
    z-index: 3;
}

.inputValue{
    color:gray;
}

.inputValue:focus{
    color:black;
}

#closeBtn{
    cursor:pointer;
    position: absolute;
    top:0px;
    right:0px
}

a{
    cursor:pointer
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}